// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #FAFAFA;
}

.status .admin {
	display: none
}

.status.hover .admin {
	display: inline;
}

.post-button {
	margin-bottom: 20px;
	display: inline-block;
}

.time {
	color: rgba(151, 151, 151, 1);
}

.username {
	color: rgba(61, 94, 150, 1);
}

#notice {
	margin-top: 20px;
	color: red;
}